/* This Css Is About The Components Of The Headers */
header {
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    height: 50px;
    width: 100%;
    align-items: center;
}



.left_div {
    display: flex;
}


.middle_div {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
}


.middle_div div {
    display: grid;
    grid-template-columns: 1fr 28px;
    border-bottom: 1px solid #ccc;
    border-radius: 20px 20px 0 0;
}



.middle_div div input, .middle_div div img {
    width: 100%;
    border: none;
    outline: none;
    height: 42px;
    background-color: white;
}



.middle_div div input {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.middle_div div input::placeholder {
    font-size: 17px;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.right_div {
    display: flex;
    align-items: center;
}

.right_div button {
    width: 100px;
    height: 50px;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 450;
    border: none;
    border-radius: 25px;
    background-color: orange;
    margin-right: 20px;
}

@media (max-width: 768px) {
    header {
      grid-template-columns: 1fr 2fr 1fr;
    }

    .right_div button {
      width: 80px;
      height: 40px;
      font-size: 16px;
    }

     .section2-div {
      display: grid;  
      grid-template-columns: 50px  1fr 50px;
    }

    .div {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media (max-width: 480px) {
    header {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      height: auto;
    }
    .section2-div {
      display: grid;  
      grid-template-columns: 50px  1fr 50px;
    }

    .div {
      grid-template-columns: 1fr ;
    }
    #div_img2{
      display: none;

    }
    #div_img3{
      display: none;
    }
    .middle_div div {
      grid-template-columns: 1fr 24px;
    }

    .right_div button {
      width: 70px;
      height: 35px;
      font-size: 14px;
    }
    .right_div{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
    }
}
/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cart{
    position: relative;
}
#cart_number{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    
    display: grid;
    place-items: center;
    place-content: center;
    background-color: rgb(228, 71, 14);
    
    color: white;
 
    font-size: 13px;
    font-family: inherit;
}