/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  /* Responsive styles */
@media (max-width: 768px) {
    .header {
      grid-template-columns: 1fr 2fr 1fr;
    }

    .right_div button {
      width: 80px;
      height: 40px;
      font-size: 16px;
    }

     .section2-div {
      display: grid;  
      grid-template-columns: 50px  1fr 50px;
    }

    .div {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media (max-width: 480px) {
    .header {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      height: auto;
    }
    .section2-div {
      display: grid;  
      grid-template-columns: 50px  1fr 50px;
    }

    .div {
      grid-template-columns: 1fr ;
    }
    #div_img2{
      display: none;

    }

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
    #div_img3{
      display: none;
    }
    .middle_div div {
      grid-template-columns: 1fr 24px;
    }

    .right_div button {
      width: 70px;
      height: 35px;
      font-size: 14px;
    }
    .right_div{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 20px;
      padding-right: 20px;
      padding-left: 20px;
    }
}
